<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urdu.keyboard">

    <application>
        <service
            android:name=".UrduInputService"
            android:label="شاندار اردو کی بورڈ"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
                
            <meta-data
                android:name="android.view.im.emoji"
                android:value="true" />
        </service>
    </application>
</manifest>
