<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urdu.keyboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="شاندار اردو کی بورڈ"
        android:theme="@style/Theme.ImeSafe">

        <!-- LAUNCHER ACTIVITY (ONLY FOR OPENING APP) -->
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.ImeSafe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- INPUT METHOD SERVICE -->
        <service
            android:name=".UrduInputService"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true"
            android:label="شاندار اردو کی بورڈ">

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

    </application>

</manifest>
