name: Build APK

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v4
    
    - uses: actions/setup-java@v4
      with:
        java-version: '11'
    
    - run: |
        # خودکار gradle setup
        mkdir -p gradle/wrapper
        echo 'distributionUrl=https://services.gradle.org/distributions/gradle-8.2-bin.zip' > gradle/wrapper/gradle-wrapper.properties
        curl -L https://github.com/gradle/gradle/releases/download/v8.2.0/gradle-wrapper-8.2.jar -o gradle/wrapper/gradle-wrapper.jar
        echo 'java -jar gradle/wrapper/gradle-wrapper.jar $@' > gradlew
        chmod +x gradlew
        
        ./gradlew assembleDebug
