name: Flutter Setup (Generate Gradle)

on:
  push:
    branches: [ "main" ]

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter doctor
        run: flutter doctor -v

      - name: Generate Android & Gradle files
        run: flutter create .

      - name: List android folder
        run: ls -R android
