name: Flutter Setup (Generate Gradle)

on:
  push:
    branches: [ "main" ]

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter doctor
        run: flutter doctor -v

      - name: Generate Android & Gradle files (FIXED)
        run: flutter create . --project-name urdu_english_keyboard

      - name: Show android folder
        run: ls -R android
